.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/
/.quarto/

_email/
_ignore/

# 02_data_results/*.csv
# 02_data_results/*.gpkg
02_data_results/dataset_hash.csv

code_from_python_package_comparison.R
quarto_document_publishing.txt